/* You can add global styles to this file, and also import other style files */
/* Importación de la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Personalización de Bootstrap antes de importar sus fuentes */
$font-family-base: 'Poppins', sans-serif;

/* Colores institucionales TCP */
$primary-tcp: #7f0000;

html, body {
  height: 100%;
  font-family: $font-family-base;
  background-color: #f8f9fa;
}